@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.animate-pulse-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  animation: pulse-border 1.5s infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
